@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Noto+Serif&family=Nunito:wght@200&family=Oswald:wght@300&display=swap");

/* Fonts :-

      font-family: 'Merriweather', serif;
font-family: 'Noto Serif', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Fasthand', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Signika Negative', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  animation: 25s gradient infinite alternate;
  overflow-x: hidden;
  z-index: -100;
}

a {
  color: inherit;
}

main {
  min-height: 60vh;
  position: relative;
}
section {
  padding-top: 10vh;
}

.navbar-brand img {
  width: 65px;
  height: 65px;
  padding: 8px;
  background-color: var(--bg-grey-1);
  border: 4px double var(--main-app-font-color);
  border-radius: var(--def-border-radius);
}
.navbar-toggler {
  display: none;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  font-size: 2em;
  flex-shrink: 0;
}

ul.navbar-nav {
  width: 100%;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}
li.nav-item {
  display: flex;
  position: relative;
  list-style: none;
}
a.nav-link {
  min-width: max-content;
  display: inline-block;
  cursor: pointer;
  padding: 1rem;
  font-family: var(--app-font-family-2);
  font-size: 1.25rem;
}

.hero-container {
  min-height: fit-content;
  width: 75vw;
  border: 4px dotted var(--main-app-font-color);
  border-radius: 20px;
  color: var(--main-app-dark-color);
  width: 100%;
  font-size: var(--app-font-big-1);
  overflow-x: hidden;
}
.hero-container::-webkit-scrollbar-track {
  margin-block: 6.5em 1em;
}
a {
  text-decoration: none;
  display: inline;
  cursor: pointer;
}
.inputBtns {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  min-height: 80px;
  padding: 10px;
}
.hero-container #inputTxt {
  min-width: 150px;
  width: 80%;
  height: 75vh;
  color: var(--main-app-font-color);
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding-top: 32vh;
  margin-bottom: 10px;
  margin-left: 10%;
  border: 1.5px groove rgb(120, 120, 120);
  border-radius: 18px;
  background-color: var(--main-app-color-2);
  resize: none;
  outline: none;
  box-sizing: border-box;
}

.hero-container #inputTxt::-webkit-scrollbar {
  display: none;
}

.hero-container input[type="button"] {
  min-width: 150px;
  height: 75px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.5rem;
  word-break: break-all;
  padding: 20px 15px;
  min-height: 60px;
  margin: 5px 15px 15px 10px;
  /* box-shadow: 5px 5px 16px -22px rgba(255, 255, 255, 0.818); */

  background-image: linear-gradient(
    -45deg,
    hsl(121, 88%, 43%, 0.75),
    hsl(60, 94%, 53%, 0.75)
  );
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 100%;
  -webkit-background-size: 100%;
  /* -webkit-background-position: left; */
  color: transparent;

  box-shadow: inset 0px 0px 0.75px 5px hsla(0, 100%, 50%, 0.755),
    inset 0px 0px 0.75px 7.5px hsla(0, 0%, 0%, 0.752);
}
.optTxt {
  margin-top: 110px;
  /* transition: 0.5s margin; */
}

.optBtns {
  width: 76%;
  padding-top: 10px;
  position: fixed;
  left: 12%;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  min-height: 80px;
  box-sizing: border-box;
}
.hero-container input[type="button"]:hover,
.hero-container input[type="button"]:active {
  box-shadow: inset 0px 0px 0.75px 2.5px hsla(40, 100%, 50%, 0.756),
    inset 0px 0px 0.75px 5px hsla(0, 100%, 50%, 0.755),
    inset 0px 0px 0.75px 7.5px hsla(0, 0%, 0%, 0.752);
}

.hero-container input[type="button"]:active {
  border: 1.75px groove transparent;
}
