@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Noto+Serif&family=Nunito:wght@200&family=Oswald:wght@300&display=swap");

.navbar-brand img {
  width: 65px;
  height: 65px;
  padding: 8px;
  background-color: var(--bg-grey-1);
  border: 4px double var(--head-foot-font-color);
  border-radius: var(--primary-border-radius);
}
.navbar-toggler {
  display: none;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  font-size: 2em;
  flex-shrink: 0;
}

ul.navbar-nav {
  width: 100%;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}
li.nav-item {
  display: flex;
  position: relative;
  list-style: none;
}
a.nav-link {
  min-width: max-content;
  display: inline-block;
  cursor: pointer;
  padding: 1rem;
  font-family: var(--app-font-family-2);
  font-size: 1.25rem;
}

.hero-container {
  min-height: fit-content;
  width: 85vw;
  outline: 4px dotted var(--main-app-font-color);
  border-radius:  var(--min-border-radius);
  color: var(--main-app-dark-color);
  font-size: var(--app-font-big-1);
  overflow-x: hidden;
  box-shadow: 0 0 6px #0007;
}
.hero-container::-webkit-scrollbar-track {
  margin-block: 6.5em 1em;
}
.hero-container #inputTxt {
  min-width: 150px;
  width: 75%;
  aspect-ratio: 3/1;
  color: var(--main-app-font-color);
  border: 8px solid #8885;
  border-radius:  var(--primary-border-radius);
  resize: none;
  outline: 2px dotted var(--head-foot-font-color);
}

.hero-container #inputTxt::-webkit-scrollbar {
  display: none;
}

.hero-container input[type="button"] {
  min-width: 150px;
  height: 75px;
  border: none;
  border-radius:  var(--min-border-radius);
  text-transform: uppercase;
  
  color: transparent;
  background-image: var(--btns-in-txt-grad-1);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;

  box-shadow: inset 0px 0px 0.75px 5px hsla(0, 100%, 50%, 0.755);
}

.optArea {
  max-height: 75vh;
  overflow-y: auto;
}
.optBtns {
  top: 10px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius:  var(--min-border-radius);
  min-height: 80px;
  box-sizing: border-box;
}

.hero-container input[type="button"]:where(:hover, :active) {
  box-shadow: inset 0px 0px 0.75px 2.5px hsla(40, 100%, 50%, 0.756),
    inset 0px 0px 0.75px 5px hsla(0, 100%, 50%, 0.755),
    inset 0px 0px 0.75px 7.5px hsla(0, 0%, 0%, 0.752);
}
