:root {
  --main-app-font-color: #1c1c1c;
  --app-components-color-1: #0064df;
  --app-components-color-2: #3b82f680;
  --main-app-theme-color: #fff;
  --head-foot-font-color: #834;
  --header-font-color: #834;
  --footer-font-color: #d4d4d4;
  --header-theme-color: #eee;
  --footer-theme-color: #172337;
  --header-shadow-color: #0003;
  --main-line-height-1: 25px;
  --main-line-height-2: 35px;
  --main-line-height-3: 40px;
  --app-font-big-1: 1.2rem;
  --app-font-big-2: 1.4rem;
  --app-font-big-3: 1.6rem;
  --app-font-big-4: 2rem;
  --app-font-small-1: 1rem;
  --app-font-small-2: 0.9rem;
  --app-font-small-3: 0.75rem;
  --app-font-family-1: "Quicksand", sans-serif;
  --app-font-family-2: "Roboto Mono", monospace, sans-serif !important;
  --app-font-family-3: "Source Sans Pro", sans-serif;
  --app-font-family-4: "Signika Negative", sans-serif;
  --app-font-family-5: "Open Sans", sans-serif;
  --app-font-family-6: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --app-font-family-cursive: "Dancing Script", cursive;
  --app-footer-font-family: "Inter", sans-serif;
  --primary-border-radius-1: 1.5em;
  --primary-border-radius-2: 2em;
  --min-border-radius: 10px;
  --main-shadow-color: #fff7;
  --btns-in-txt-grad-1: linear-gradient(
    -45deg,
    rgb(160, 160, 160),
    rgb(110, 110, 110)
  );

  /* Transitions and Animations */

  --trans-delay-time-1: 300ms;
  --trans-delay-time-2: 500ms;
  --trans-delay-time-3: 1000ms;
  --trans-delay-time-very-quick: 100ms;
  --trans-delay-time-quick: 200ms;
  --trans-delay-time-slow: 1250ms;
  --trans-delay-time-very-slow: 2000ms;

  /* alert msg style custom properties */

  --alert-danger-font: #68171e;
  --alert-danger-bg: #e7767f;
  --alert-danger-border: #d78f96;
  --alert-success-font: #154a1a;
  --alert-success-bg: #77b886;
  --alert-success-border: #94c29f;
  --alert-warning-font: #856404;
  --alert-warning-bg: #ffdb69;
  --alert-warning-border: #cbb674;

  --main-app-danger-color: #ea3232;
  --main-app-warning-color: #ff8;
  --alert-border-radius: 1rem;

  /* Selected Text Styling */

  --selection-font-color: #f3f3f3;
  --selection-bg-color: #26c;

  /* Scrollbar Styling */

  --scrollbar-size: 6px;
  --scrollbar-gap: 5px;
  --scrollbar-thumb-border: 2px solid transparent;
  --scrollbar-track-color: #bdbdbd;
  --scrollbar-thumb-color: #8d8d8d;
  --scrollbar-thumb-color-hover: rgba(0, 0, 0, 0.5);

  /* Custom Switch-Button */

  --switch-size: 4rem;
  --switch-border-radius: var(--primary-border-radius-2);
  --switch-thumb-border-radius: var(--primary-border-radius-2);
  --switch-bg-color: #b0b0b0;
  --switch-thumb-bg-color: #e9e9e9;
  --switch-bg-color-active: #245;
  --switch-thumb-bg-color-active: #ececec;
}

/* Dark-Mode Custom-Properties */

.dark-mode {
  color-scheme: dark;
  --main-app-font-color: #932;
  --main-app-theme-color: #0e0c13;
  --header-font-color: #834;
  --footer-font-color: #d4d4d4;
  --header-theme-color: #303;
  --footer-theme-color: #303;
  --selection-font-color: #2f2f2f;
  --selection-bg-color: #ececec;
  --scrollbar-track-color: #6b6b6b;
  --scrollbar-thumb-color: #9c9c9c;
  --scrollbar-thumb-color-hover: #e8e8e8;
  --btns-in-txt-grad-1: linear-gradient(
    -45deg,
    hsl(121, 88%, 43%, 0.75),
    hsl(60, 94%, 53%, 0.75)
  );
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;

  transition: all 0s;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -o-transition: all 0s;
}

*::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}
*::-webkit-scrollbar-track {
  margin-block: var(--scrollbar-gap);
  margin-inline: var(--scrollbar-gap);
  background: var(--scrollbar-track-color);
  border-radius: var(--primary-border-radius-2);
}
*::-webkit-scrollbar-thumb {
  border: var(--scrollbar-thumb-border);
  background: var(--scrollbar-thumb-color);
  border-radius: var(--primary-border-radius-2);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-color-hover);
}
@supports (scrollbar-color: white grey) {
  * {
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
    scrollbar-width: thin;
  }
}
::selection {
  color: var(--selection-font-color);
  background-color: var(--selection-bg-color);
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--main-app-theme-color);
  overflow: overlay;
  z-index: -100;
}

a:not(.link) {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

main {
  color: var(--main-app-font-color);
  font-family: var(--app-font-family-4);
  min-height: 60vh;
  position: relative;
}
section {
  padding-block: 8vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--app-font-family-4);
}

.no-js-support {
  background-color: var(--main-app-warning-color);
}
.app-header {
  top: 0px;
  left: 0px;
  right: 0px;
  color: var(--header-font-color) !important;
  font-family: var(--app-font-family-2);
  background-color: var(--header-theme-color) !important;
  isolation: isolate;
  z-index: 160;
}
.header-minimizer {
  box-shadow: 0px 2px 4px var(--header-shadow-color);
}
.app-footer {
  color: var(--footer-font-color) !important;
  background-color: var(--footer-theme-color);
  font-family: var(--app-font-family-2);
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container_fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#webBackground {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  opacity: 0.6;
  z-index: -100;
  user-select: none;
}

#skipNavigation {
  background-color: #000;
  border: 3px solid #ccc;
  border-radius: var(--min-border-radius);
  position: absolute;
  top: -1000px;
  left: 0px;
  z-index: 200;
}

#skipNavigation:focus-within {
  top: 0px;
}

#skipNavigation a {
  color: #fff;
  padding: 5px 10px;
}

.navbar {
  position: relative;
  width: 100%;
  top: 0px;
  z-index: 90;
}
.alert {
  letter-spacing: 1px;
  color: var(--main-app-theme-color);
  border-radius: var(--alert-border-radius);
  border: 2px solid transparent;
  background-color: var(--main-shadow-color);
  font: italic var(--app-font-small-2) var(--app-font-family-6);
  box-shadow: 0 0 1.5em 2px;
  opacity: 0.9;
}

.alert-error,
.alert-danger {
  color: var(--alert-danger-font);
  background-color: var(--alert-danger-bg);
  border-color: var(--alert-danger-border);
}
.alert-success {
  color: var(--alert-success-font);
  background-color: var(--alert-success-bg);
  border-color: var(--alert-success-border);
}
.alert-warning {
  color: var(--alert-warning-font);
  background-color: var(--alert-warning-bg);
  border-color: var(--alert-warning-border);
}
.alert-secondary {
  background: var(--main-shadow-color);
  border-radius: 1.25em;
  border: 1px solid black;
}
.alert-dismissable {
  user-select: none;
  min-width: 15vw;
  max-width: 90vw;
  position: absolute;
  line-height: var(--main-line-height-3);
  top: 0;
  left: 50%;
  padding-left: 20px;
  padding-right: 50px;
  transition: opacity 0.75s ease-in-out;
  z-index: 200;

  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.alert > .alertCloseBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
.alert > .alertCloseBtn > i::before {
  color: var(--main-app-theme-color) !important;
}

.btn {
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: scale var(--trans-delay-time-quick) ease-in;
  -webkit-transition: scale var(--trans-delay-time-quick) ease-in;
  -moz-transition: scale var(--trans-delay-time-quick) ease-in;
  -o-transition: scale var(--trans-delay-time-quick) ease-in;
}
.btn:where(:hover, :focus) {
  opacity: 0.75;
}
.btn:active {
  opacity: 0.65;
}

.p-box {
  --size-XY: 35px;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  text-align: center;
  line-height: var(--size-XY);
  width: var(--size-XY);
  height: var(--size-XY);
  margin: auto 0.5rem;
  font-weight: 600;
  padding: 0rem !important;
  flex-shrink: 0;
}

.boxBig {
  --size-XY: 50px;
  font-size: 1.5em;
}

.button,
button {
  cursor: pointer !important;
  border-radius: var(--primary-border-radius-2) !important;
  border: 2px solid transparent;
}

:where([type="button"], [type="submit"], [type="reset"], button) {
  cursor: pointer;
  font: normal 1.25rem var(--app-font-family-6);
  background-color: var(--main-app-color) !important;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-family: var(--app-font-family-1);
}

.form-group:has(:first-child:where(button, small)) {
  flex-direction: row;
}

.form-group > * {
  max-width: 95%;
  margin: 0.25em 0.5em 0px;
  background-color: var(--main-app-theme-color);
}

.form-group > label {
  justify-self: flex-start;
  align-self: flex-start;
}

.form-group > button {
  width: 120px;
  height: 50px;
}

.form-group > input[type="date"] {
  width: max-content;
  font-size: var(--app-font-small-1);
}

.form-control {
  display: block;
  width: 100%;
  line-height: var(--main-line-height-2);
}

.show {
  opacity: 1;
  visibility: visible;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}

.nav-link {
  --bs-navbar-nav-link-padding-x: 1.25rem;
  min-width: 90%;
  text-align: center;
}
.auth-link:where(:hover, :focus) {
  opacity: 0.75;
}
.auth-link:where(:active) {
  opacity: 0.9;
}

.required_input {
  position: relative;
}
.required_input::before {
  content: "*";
  position: absolute;
  top: 0;
  left: -1ch;
  font-size: 1.5em;
  color: var(--main-app-danger-color) !important;
}

/* Toggle-Switch-Button Disabled*/

.toggler-switch-btn {
  appearance: none;
  display: none;
}
.toggler-switch {
  --switch-width: var(--switch-size);
  --switch-height: calc(var(--switch-size) / 2);
  --switch-border-size: calc(var(--switch-height) / 10);
  --switch-thumb-size: calc(
    var(--switch-height) - var(--switch-border-size) * 2
  );

  cursor: pointer;
  width: var(--switch-width);
  height: var(--switch-height);
  background-color: var(--switch-bg-color);
  border: var(--switch-border-size) solid var(--switch-bg-color);
  border-radius: var(--switch-border-radius);

  transition: var(--trans-delay-time-1) var(--trans-delay-time-quick);
  -webkit-transition: var(--trans-delay-time-1) var(--trans-delay-time-quick);
  -moz-transition: var(--trans-delay-time-1) var(--trans-delay-time-quick);
}
.toggler-switch::before {
  position: absolute;
  content: attr(data-icon);
  top: 0;
  left: 0;
  font-size: calc(var(--switch-thumb-size) / 1.4);
  width: var(--switch-thumb-size);
  height: var(--switch-thumb-size);
  aspect-ratio: 1/1 !important;
  border-radius: var(--switch-thumb-border-radius);
  background-color: var(--switch-thumb-bg-color);

  transform-origin: center;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;

  transition: var(--trans-delay-time-2);
  -webkit-transition: var(--trans-delay-time-2);
  -moz-transition: var(--trans-delay-time-2);
}

/* Toggle-Switch-Button Enabled*/

.toggler-switch-btn:checked + .toggler-switch {
  background-color: var(--switch-bg-color-active);
  border-color: var(--switch-bg-color-active);
}
.toggler-switch-btn:checked + .toggler-switch::before {
  background-color: var(--switch-thumb-bg-color-active);
  left: 100%;
  transform: translateX(-100%) rotate(1turn);
}
